<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nostr.jmostr">

    <!-- ATTENZIONE: rimossi attributi potenzialmente problematici -->
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        tools:targetApi="34">

        <!-- Activity principale con intent-filter -->
        <activity
            android:name=".ui.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Seconda activity senza intent-filter -->
        <activity
            android:name=".ui.FeedActivity"
            android:exported="false"/>
    </application>
</manifest>
